.login #loginform {
	background: rgba(255,255,255,0.7) !important;
}

.login h1 a {
	background-image: url('../images/logo.svg') !important;
    width: auto;
    background-size: contain;
    height: 80px;
}

.login #backtoblog a, .login #nav a {
	color: white;
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
	color: #1b88b7;
}

body.login {
  background: #000;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
